{{! footer  }}

<footer class="mt-5 py-4 text-muted text-center text-small bg-light">
  <p class="mb-1">IT-INFO 2022, &copy;Toshtemirov Mukhammadi</p>
  <ul class="list-inline mb-0">
    <li class="list-inline-item"><a href="#">Lug'atlar</a></li>
    <li class="list-inline-item"><a href="#">Maqolalar</a></li>
    <li class="list-inline-item"><a href="#">Biz haqimizda</a></li>
    <li class="list-inline-item"><a href="#">Aloqa</a></li>
    <li class="list-inline-item"><a href="#">Register</a></li>
  </ul>
</footer>

{{! Bootstrap link  }}
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
></script>