<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>

    {{> navbar}}

    <div class="container py-4" style="min-height: 100vh;">
      {{{ body }}}
    </div>

    {{> footer}}

  </body>
</html>
