{{! Category Home }}
<div class="row mb-5">
  <h1 class="mb-4 h2">Featured Cloud Computing Articles</h1>
  <div class="col-lg-6">
    <div class="card text-bg-dark">
      <img
        src="https://images.techopedia.com/images/uploads/cloud-migration-strategy.jpg?w=900&h=600&mode=crop&quality=70&scale=both"
        class="card-img"
        alt="head-img"
        style="height: 500px; object-fit: cover;"
      />
      <div class="card-img-overlay d-flex flex-column">
        <h3 class="card-title mt-auto">Hybrid Cloud: Benefits and Barriers</h3>
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
        <div class="mb-4"><a
            href="#"
            class="btn btn-primary text-capitalize"
          >Cloud Computing</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3 pb-3 border-0 border-bottom">
      <div class="row g-0">
        <div class="col-md-3">
          <img
            src="https://images.techopedia.com/images/uploads/32c2de071eab4624a5cc169280488f4a.jpg?w=90&h=90&mode=crop"
            class="img-fluid rounded-start w-100"
            alt="card-image"
          />
        </div>
        <div class="col-md-9">
          <div class="card-body p-0 ps-3">
            <a
              href="#"
              class="text-uppercase d-block text-decoration-none text-dark"
            >personal tech</a>
            <a
              href="#"
              class="card-title text-capitalize h6 d-block text-decoration-none"
            >7 Sneaky Ways Hackers Can Get Your Facebook Password</a>
            <p class="card-text"><small class="text-muted">By:
                <a
                  href="#"
                  class="text-decoration-none fw-bold text-secondary"
                >Jennifer Seaton</a>
                | Data Analyst, Contributor</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 pb-3 border-0 border-bottom">
      <div class="row g-0">
        <div class="col-md-3">
          <img
            src="https://images.techopedia.com/images/uploads/istock-1179632186.jpeg?w=90&h=90&mode=crop"
            class="img-fluid rounded-start w-100"
            alt="card-image"
          />
        </div>
        <div class="col-md-9">
          <div class="card-body p-0 ps-3">
            <a
              href="#"
              class="text-uppercase d-block text-decoration-none text-dark"
            >personal tech</a>
            <a
              href="#"
              class="card-title text-capitalize h6 d-block text-decoration-none"
            >7 Sneaky Ways Hackers Can Get Your Facebook Password</a>
            <p class="card-text"><small class="text-muted">By:
                <a
                  href="#"
                  class="text-decoration-none fw-bold text-secondary"
                >Jennifer Seaton</a>
                | Data Analyst, Contributor</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0">
      <div class="row g-0">
        <div class="col-md-3">
          <img
            src="https://images.techopedia.com/images/uploads/security-certification.jpg?w=90&h=90&mode=crop"
            class="img-fluid rounded-start w-100"
            alt="card-image"
          />
        </div>
        <div class="col-md-9">
          <div class="card-body p-0 ps-3">
            <a
              href="#"
              class="text-uppercase d-block text-decoration-none text-dark"
            >personal tech</a>
            <a
              href="#"
              class="card-title text-capitalize h6 d-block text-decoration-none"
            >7 Sneaky Ways Hackers Can Get Your Facebook Password</a>
            <p class="card-text"><small class="text-muted">By:
                <a
                  href="#"
                  class="text-decoration-none fw-bold text-secondary"
                >Jennifer Seaton</a>
                | Data Analyst, Contributor</small></p>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{{! Category Topics }}
<div class="row gx-0 mb-5">
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.techopedia.com/images/uploads/mirantis-thumbnail.jpg?w=300&h=157&mode=pad&bgcolor=000"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.techopedia.com/images/uploads/mirantis-thumbnail.jpg?w=300&h=157&mode=pad&bgcolor=000"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.techopedia.com/images/uploads/mirantis-thumbnail.jpg?w=300&h=157&mode=pad&bgcolor=000"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.techopedia.com/images/uploads/mirantis-thumbnail.jpg?w=300&h=157&mode=pad&bgcolor=000"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.techopedia.com/images/uploads/mirantis-thumbnail.jpg?w=300&h=157&mode=pad&bgcolor=000"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.techopedia.com/images/uploads/mirantis-thumbnail.jpg?w=300&h=157&mode=pad&bgcolor=000"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

{{! Category Terms }}
<div class="row border-top border-bottom py-5">
  <div class="col-lg-12 mb-4">
    <h2 class="h3">IT Terms beginning with A</h2>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>

</div>

{{! Category QAS }}
<div class="row gx-0 mb-5">
  <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOzSVogWmlpT23wt7cH6hhPxpJHc2HyJ06-Q&usqp=CAU"
        class="card-img-top"
        alt="card-head-icon"
        style="height= 200px;"
      />
      <div
        class="card-body overflow-hidden d-flex flex-column justify-content-between"
        style="height: 230px;"
      >
        <a herf="#" class="card-title h4 text-decoration-none">Hybrid Cloud:
          Benefits and Barriers</a>
        <div class="foot">
          <a href="#" class="btn btn-warning text-light mb-2 px-4">Go somewhere</a>
          <p class="card-text"><small>By:
              <b class="text-primary">Jahon normatov</b>
              | Contributor</small></p>
        </div>
      </div>
    </div>
  </div>
</div>