{{! Search navs }}
<div class="row mb-5">
  <div class="col-md-12">
    <h2 class="text-center text-capitalize text-primary mb-4">Technology
      Dictionary</h2>
  </div>
  <div class="col-md-6 offset-md-3">
    <div class="input-group input-group-lg mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search dictionary"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-warning text-light"
        type="button"
        id="button-addon2"
      ><i class="bi bi-search"></i></button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="d-flex justify-content-between py-3 px-5 border">
      <a href="#" class="text-capitalize text-decoration-none">all</a>
      <a href="#" class="text-uppercase text-decoration-none">A</a>
      <a href="#" class="text-uppercase text-decoration-none">B</a>
      <a href="#" class="text-uppercase text-decoration-none">C</a>
      <a href="#" class="text-uppercase text-decoration-none">d</a>
      <a href="#" class="text-uppercase text-decoration-none">e</a>
      <a href="#" class="text-uppercase text-decoration-none">f</a>
      <a href="#" class="text-uppercase text-decoration-none">g</a>
      <a href="#" class="text-uppercase text-decoration-none">h</a>
      <a href="#" class="text-uppercase text-decoration-none">i</a>
      <a href="#" class="text-uppercase text-decoration-none">j</a>
      <a href="#" class="text-uppercase text-decoration-none">k</a>
      <a href="#" class="text-uppercase text-decoration-none">l</a>
      <a href="#" class="text-uppercase text-decoration-none">m</a>
      <a href="#" class="text-uppercase text-decoration-none">n</a>
      <a href="#" class="text-uppercase text-decoration-none">o</a>
      <a href="#" class="text-uppercase text-decoration-none">p</a>
      <a href="#" class="text-uppercase text-decoration-none">q</a>
      <a href="#" class="text-uppercase text-decoration-none">r</a>
      <a href="#" class="text-uppercase text-decoration-none">s</a>
      <a href="#" class="text-uppercase text-decoration-none">t</a>
      <a href="#" class="text-uppercase text-decoration-none">u</a>
      <a href="#" class="text-uppercase text-decoration-none">v</a>
      <a href="#" class="text-uppercase text-decoration-none">w</a>
      <a href="#" class="text-uppercase text-decoration-none">x</a>
      <a href="#" class="text-uppercase text-decoration-none">y</a>
      <a href="#" class="text-uppercase text-decoration-none">z</a>
    </div>
  </div>
</div>

{{! Dictionary Contents }}
<div class="row">
  <div class="col-lg-12 mb-4">
    <h2 class="h3">IT Terms beginning with A</h2>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Programming Language (APL)
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A Record
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A+ Certification
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-E
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      A-GPS
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abandonware
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Absolute Cell Reference
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 px-3">
    <a
      href="#"
      style="font-size: 1.1rem"
      class="link-dark text-decoration-none py-3 border-bottom d-block"
    >
      Abstract IL
    </a>
  </div>
</div>